<main class="lista-vacantes">
    <h2>Nav</h2>
    <div class="botones separador">
        <a href="/profile/edit" class="btn btn-azul">Edit Profile</a>
        <a href="/jobs/new" class="btn btn-verde">New Job</a>
    </div>

    <h2>My Jobs</h2>
    <div class="panel-administracion">
        {{#if jobs.length}}
            {{#each jobs}}
                <div class="vacante">
                    <div class="caja">
                        <h3>{{company}}</h3>
                        <p class="puesto">{{title}}</p>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/candidates/{{id}}" class="btn btn-amarillo">Candidates</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/jobs/edit/{{url}}" class="btn btn-verde">Edit</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="#" data-delete={{_id}} class="btn btn-rojo">Delete</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>There are no job vacancies</p>
        {{/if}}
    </div>
</main>