<main class="lista-vacantes">
    <h2>List of Jobs</h2>

    {{#if jobs.length}}
        {{#each jobs}}

            <div class="vacante">
                <div class="caja">
                    <h3>{{company}}</h3>
                    <p class="puesto">{{title}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Location</p>
                    <p class="nombre">{{location}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contract</p>
                    <p class="nombre">{{contract}}</p>
                </div>
                <div class="caja centrar-vertical"><a href="/jobs/{{url}}" class="btn btn-verde">More Info</a></div>
            </div>

        {{/each}}
    {{else}}
        <p>There are no job vacancies</p>
    {{/if}}
</main>