<main class="contenedor">
    <form action="/jobs/new" method="POST" class="default-form">
        <h3>General Information</h3>
        <div class="campo">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{job.title}}" placeholder="Ex: React Developer" >
        </div>
        <div class="campo">
            <label for="company">Company</label>
            <input type="text" name="company" id="company" value="{{job.company}}" placeholder="Ex: Facebook"  >
        </div>
        <div class="campo">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" value="{{job.location}}"  placeholder="Ex: England / Remote"  >
        </div>
        <div class="campo">
            <label for="salary">Salary</label>
            <input type="text" name="salary" id="salary" value="{{job.salary}}"  placeholder="Ex: 1000 USD"  >
        </div>
        <div class="campo">
            <label for="contract">Contract</label>
            <select name="contract" id="contract">
                {{#typeContract job.contract}}
                    <option value="" disabled selected>-- Choose --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Part Time">Part Time</option>
                    <option value="By project">By project</option>
                {{/typeContract}}
            </select>
        </div>
        <h3>Job Description</h3>
        <div class="campo descripcion">
            <label for="description">Description</label>
            <input id="x" type="hidden" value="{{job.description}}"  name="description">
            <trix-editor input="x" class="trix-content"></trix-editor>
        </div>
        <h3>Skills</h3>
        <ul class="lista-conocimientos">
            {{#selectSkills job.skills}}
            {{/selectSkills}}
        </ul>
        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Publish" class="btn btn-azul">
        </div>
    </form>
</main>